@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@700&family=Nunito:ital,wght@0,400;1,600&display=swap');
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
   font-family: 'Nunito', sans-serif;
   font-size: 20px;
}

body {
    background-color: #F8EFBA;
}

h1 {
    font-size: 35px;
}
/* LOGO */
.header {
    background-color: #9AECDB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 50px 10%;
}
header .header-title img {
    height: 75px;
    width: auto;
    transition: all 0.3s;
}

header .logo {
    cursor: pointer;
    margin-right: auto;
}

header .header-title h1 {
    cursor: default;
}

.header .header-title img:hover {
    transform: scale(1.2); /*ANIMACION DE AGRANDAR CUANDO EL CURSOR ESTA ENCIMA*/
}

.header-title {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-title h1 {
    padding: 0px 40px;
    font-size: 40px;
}

.header-title a img {
    height: 75px;
    width: 75px;
}
/* NAV-BAR */
.header .nav-links {
    list-style: none; /*SACA LOS PUNTOS DE LAS LISTAS*/
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}
nav ul {
    display: flex;
    align-items: center;
}
.header .nav-links li:hover {
    transform: scale(1.1); /*ANIMACION DE AGRANDAR CUANDO EL CURSOR ESTA ENCIMA*/
}

.header .nav-links a {
    font-size: 20px;
    color: #576574;
    text-decoration: none; /*SACA EL SUBRAYADO A LOS LINKS*/
}

.nav-links img {
    height: 100%;
}

/* CARDS DE CATÁLOGO */
.container {
    width: 80%;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}

.card {
    width: 300px;
    height: 430px;
    box-shadow: 10px 5px 10px 3px #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.card p {
    text-align: justify;
    padding: 3px;
    font-size: 14px;
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}

.card button {
    display: block;
    border: 0;
    outline: 0;
    background-color: royalblue;
    width: 150px;
    height: 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px 10px;
    margin:2rem auto ;
    cursor: pointer;
}